<h1><%= @game.game_name %></h1>

<div class="padding">
  <h1 class="title">Chess Board</h1>
  
  <table class="board">
    <% (0..7).each do |tr_index_location| %>
      <tr>
        <% (0..7).each do |td_index_location| %>
          <% render_square_options = ["current-piece-dark", "dark square", "current-piece-light", "light square"] %>
          <% if tr_index_location.odd? && td_index_location.odd? || tr_index_location.even? && td_index_location.even? %>
            <% occupied_square_color = render_square_options[2] %>
            <% empty_square_color = render_square_options[3] %>
          <% elsif tr_index_location.odd? && td_index_location.even? || tr_index_location.even? && td_index_location.odd? %>
            <% occupied_square_color = render_square_options[0] %>
            <% empty_square_color = render_square_options[1] %>
          <% end %>
          <td class=<%= @current_piece.x_position == td_index_location && @current_piece.y_position == tr_index_location ? "#{occupied_square_color}" : "#{empty_square_color}" %>>
            <%= link_to game_piece_path(@current_piece, x_position: td_index_location, y_position: tr_index_location), method: :put do %>
              <% piece = ChessPiece.where(game_id: @game.id, x_position: td_index_location, y_position: tr_index_location) %>
              <% if piece.empty? %>
                <div></div>
              <% else %>
                <%= image_tag(piece.take.icon) %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<% if current_user == @game.user_id %>
<!-- You can move white pieces -->
<% end %>

<% if current_user == @game.opponent_id %>
<!-- You can move black pieces -->
<% end %>
