<h1>index page</h1>


<h3>Join Game</h3>
<ul>
<% @singleplayer.each do |single| %>
 <li>
     <h1><%= single.game_name %></h1>
     <%= link_to 'Join', game_path(single.id), method: :put %></li>
<% end %>
</ul>

<hr>

<h3>Games currently being played</h3>
<ul>
<% @games.each do |game| %>
  <li><%=link_to game.game_name, game_path(game.id) %></li>
<% end %>
</ul>



