<h1><%= @game.game_name %></h1>

<div class="padding">
  <h1 class="title">Chess Board</h1>
<table class="board">
  <tr>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
  </tr>
  <tr>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
  </tr>
  <tr>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
  </tr>
  <tr>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
  </tr>
  <tr>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
  </tr>
  <tr>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
  </tr>
  <tr>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
  </tr>
  <tr>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
    <td class="square dark"></td>
    <td class="square light"></td>
  </tr>
</table>
</div>

<% if current_user == @game.user_id %>
<!-- You can move white pieces -->
<% end %>

<% if current_user == @game.opponent_id %>
<!-- You can move black pieces -->
<% end %>
